<!DOCTYPE html>

<html lang="ro">
<title>Error 403</title>

<%- include('../fragments/head') %>

<div class="container">
    <div class="page-content" style="height: 100%">
        <%- include('../fragments/header') %>
        <div>
            <h1>
                ERROR 403
            </h1>
        </div>
        <%- include('../fragments/footer') %>
    </div>
</div>
</html>