<!DOCTYPE html>

<html lang="ro">
<title>FAQ</title>

<%- include('../fragments/head') %>

<div class="container">
    <div class="page-content">
        <%- include('../fragments/header') %>
        <div class="faq">
            <ul>
                <h2><abbr>FAQ (Frequently Asked Questions)</abbr></h2>
                <li>
                    <section><h3>What are your warranty policies?</h3></section>
                    <p>Our <strong>warranty policies</strong> are very customer-friendly and can be found <a
                                href="warranty.html">here</a>.
                    </p>
                </li>
                <li>
                    <section><h3>Do you accept phone, fax, email or snail mail orders?</h3></section>
                    <p>We accept these type orders for established customers only.</p>
                </li>
                <li>
                    <section><h3>Do you sell or release my personal information?</h3></section>
                    <p><b>A Big "No"!</b> We respect your privacy, and will never sell or in any other way give out any
                        personal
                        information about our customers, period.</p>
                </li>
                <li>
                    <section><h3>How much do your computers cost?</h3></section>
                    <p>This is kind of like asking how much does a car cost! ;-) We have systems to fit any budget,
                        both new and used, so let us know your needs and we will be happy to come up with a quote for
                        you.</p>
                </li>
                <li>
                    <section><h3>How can I assemble my own computer?</h3></section>
                    <p>We suggest you always use the expertise of a specialist. If you want to see how a specialist
                        proceeds, we leave you two videos and <a
                                href="https://www.build-gaming-computers.com/how-to-assemble-a-pc.html"
                                target="_blank">this</a> article.</p>
                    <div class="iframe-container">
                        <iframe name="ifr-video" width="560" height="315"
                                src="https://www.youtube.com/embed/v7MYOpFONCU"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        <div class="iframe-tabs">
                            <a href="https://www.youtube.com/embed/v7MYOpFONCU" target="ifr-video">Tutorial #1</a>
                            <a href="https://www.youtube.com/embed/PXaLc9AYIcg" target="ifr-video">Tutorial #2</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <%- include('../fragments/footer') %>
    </div>
</div>
</html>