<!DOCTYPE html>

<html lang="ro">
<title>Gallery</title>

<%- include('../fragments/head') %>

<div class="container">
    <div class="page-content">
        <%- include('../fragments/header') %>
        <%- include('../fragments/gallery') %>
        <%- include('../fragments/footer') %>
    </div>
</div>
</html>