<!DOCTYPE html>
<html lang="ro">
<head>
    <meta name="description" content="Magazin de piese pentru computerul personal">
    <meta name="keywords" content="PC2Hack, PC, Shop, Personal Computer, Service, PC parts, CPU, GPU, RAM">
    <%- include("../fragments/head.ejs")%>
</head>
<body>
<div class="container">
    <div class="page-content">
        <%- include("../fragments/header.ejs") %>
        <div class="cover-images"><img src="/resources/images/wallpaper.jpg" alt="wallpaper"></div>
        <div class="table">
            <table>
                <tr>
                    <th>Month</th>
                    <th>Savings</th>
                    <th>Savings</th>
                    <th>Savings</th>
                </tr>
                <tr>
                    <td>January</td>
                    <td>$100</td>
                    <td>$100</td>
                    <td>$100</td>
                </tr>
                <tr>
                    <td>February</td>
                    <td>$80</td>
                    <td>$80</td>
                    <td>$80</td>
                </tr>
                <tr>
                    <td>February</td>
                    <td>$80</td>
                    <td>$80</td>
                    <td>$80</td>
                </tr>
                <tr>
                    <td>February</td>
                    <td>$80</td>
                    <td>$80</td>
                    <td>$80</td>
                </tr>
                <tr>
                    <td>February</td>
                    <td>$80</td>
                    <td>$80</td>
                    <td>$80</td>
                </tr>
                <tr>
                    <td>February</td>
                    <td>$80</td>
                    <td>$80</td>
                    <td>$80</td>
                </tr>
                <tr>
                    <td>February</td>
                    <td>$80</td>
                    <td>$80</td>
                    <td>$80</td>
                </tr>
            </table>
        </div>
        <div class="calendar"><img src="/resources/images/calendar-2020-2021.png" alt="wallpaper"></div>
        <div class="updates"><img src="/resources/images/anunt.jpg" alt="wallpaper"></div>
        <div class="online-users">
            <table id="online-users-table">
                <tr>
                    <th>ONLINE USERS IPS</th>
                </tr>
            </table>
        </div>
        <div class="user-stats"><img src="/resources/images/stats.png" alt="wallpaper"></div>
        <div class="server-status"><img src="/resources/images/server-status.png" alt="wallpaper"></div>
        <div class="content">
            <aside id="faq-section">
                <h2><abbr>FAQ (Frequently Asked Questions)</abbr></h2>
                <ul>
                    <li>
                        <section><h3>What are your warranty policies?</h3></section>
                        <p>Our <strong>warranty policies</strong> are very customer-friendly and can be found <a
                                    href="warranty.html">here</a>.
                        </p>
                    </li>
                    <li>
                        <section><h3>Do you accept phone, fax, email or snail mail orders?</h3></section>
                        <p>We accept these type orders for established customers only.</p>
                    </li>
                    <li>
                        <section><h3>Do you sell or release my personal information?</h3></section>
                        <p><b>A Big "No"!</b> We respect your privacy, and will never sell or in any other way give out
                            any
                            personal information about our customers, period.</p>
                    </li>
                    <li>
                        <section><h3>How much do your computers cost?</h3></section>
                        <p>This is kind of like asking how much does a car cost! ;-) We have systems to fit any budget,
                            both
                            new
                            and used, so let us know your needs and we will be happy to come up with a quote for
                            you.</p>
                    </li>
                    <li>
                        <section><h3>How can I assemble my own computer?</h3></section>
                        <p>We suggest you always use the expertise of a specialist. If you want to see how a specialist
                            proceeds, we leave you two videos and <a
                                    href="https://www.build-gaming-computers.com/how-to-assemble-a-pc.html"
                                    target="_blank">this</a> article.</p>
                        <div class="iframe-container">
                            <iframe name="ifr-video" width="560" height="315"
                                    src="https://www.youtube.com/embed/v7MYOpFONCU"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            <div class="iframe-tabs">
                                <a href="https://www.youtube.com/embed/v7MYOpFONCU" target="ifr-video">Tutorial #1</a>
                                <a href="https://www.youtube.com/embed/PXaLc9AYIcg" target="ifr-video">Tutorial #2</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </aside>

        </div>
        <main>
            <section id="aboutus-section">
                <h2>About us</h2>
                <section><h3>Our Company</h3></section>
                <p>PC2Hack has been established for over 10 years and continues to provide an excellent level of service
                    and
                    support to all our customers.</p>
                <section><h3>Our Commitment</h3></section>
                <p>At PC2Hack we believe in customer satisfaction and strive to succeed in this.<br>
                    When you deal with one of our technicians, you're dealing with a genuine computing enthusiast.
                    You will experierince the advantage of working with someone who understands that every person or
                    businesses
                    needs are unique and we can work with you to fix an issue or create a new solution.<br>
                    The truth is that we understand how important a reliable computer is in this modern world, and we
                    have
                    all
                    the tools required to provide just that.
                </p>
                <blockquote cite="https://en.wikiquote.org/wiki/Anonymous_(group)">
                    <i>We are Anonymous. We are Legion. We do not forgive. We do not forget. Expect us.</i>
                </blockquote>
            </section>
        </main>
        <%- include("../fragments/footer")%>
    </div>
</div>
</body>
</html>