<!DOCTYPE html>
<html lang="ro">
<head>
    <meta name="description" content="Magazin de piese pentru computerul personal">
    <meta name="keywords" content="PC2Hack, PC, Shop, Personal Computer, Service, PC parts, CPU, GPU, RAM">
    <%- include("../fragments/head.ejs") %>
</head>
<body>
<p id="watermark">BALMAU DRAGOS CONSTANTIN</p>
<p id="absolut"></p>
<div class="container">
    <div class="page-content">
        <%- include("../fragments/header.ejs") %>
        <div class="cover-images"><img src="/resources/images/wallpaper.jpg" alt="wallpaper"></div>
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>Top</th>
                        <th class="color-table-column">Product</th>
                        <th>Number of purchases</th>
                        <th class="color-table-column">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td class="color-table-column">SSD M2 Samsung 970 EVO</td>
                        <td>1254</td>
                        <td class="color-table-column">$100</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td class="color-table-column">SSD M2 Samsung 970 EVO PLUS</td>
                        <td>1003</td>
                        <td class="color-table-column">$180</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td class="color-table-column">RAM 2x16GB Corsair 3600Mhz</td>
                        <td>954</td>
                        <td class="color-table-column">$220</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td class="color-table-column">CPU Intel 11th Generation i7-11700K</td>
                        <td>664</td>
                        <td class="color-table-column">$300</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td class="color-table-column">CPU Intel 11th Generation i7-11700</td>
                        <td>504</td>
                        <td class="color-table-column">$250</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">This is the top 5 of the best selling products of this month.</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="calendar"><img src="/resources/images/calendar-2020-2021.png" alt="wallpaper"></div>
        <div class="updates"><img src="/resources/images/anunt.jpg" alt="wallpaper"></div>
        <div class="online-users">
            <table id="online-users-table">
                <tr>
                    <th>ONLINE USERS IPS</th>
                </tr>
            </table>
        </div>
        <div class="user-stats"><img src="/resources/images/stats.png" alt="wallpaper"></div>
        <div class="server-status"><img src="/resources/images/server-status.png" alt="wallpaper"></div>
        <div class="content">
            <video controls style="width:80%;height:auto" poster="/resources/images/anonymous_thumbnail.png">
                <source src="resources/video/anonymous-video.mp4" type="video/mp4">
                <source src="resources/video/anonymous-video.ogv" type="video/ogv">
                <!--<track  src="data:image/png;base64, V0VCVlRUIC0gU29tZSB0aXRsZQoKMDA6MDAuMDAwIC0tPiAwMDowMy4wMDAKbyBzxIMgcHJpbmQgbXVsyJtpIMiZb2FyZWNpIS4uLi4uCgowMDowMy4wMDAgLS0+IDAwOjA3LjAwMAp1bmRlIHBsZWNhdGksIG3Eg8SDxIPEg8SDxIM/IS4uLi4KCjAwOjA5LjAwMCAtLT4gMDA6MTQuMDAwCkNoacibISBDaGnImyEgQ2hpyJshIENoacibISAKCjAwOjE0LjUwMCAtLT4gMDA6MTkuMDAwCk1pYXUhIERlemFtxINnaXJlLi4uLgoK" kind="captions" srclang="ro" label="romana" />-->

                <track src="resources/video/tracks/captions-ro.vtt"
                       kind="captions"
                       srclang="ro"
                       label="romană"/>

                <track default src="resources/video/tracks/captions-en.vtt"
                       kind="captions"
                       srclang="en"
                       label="english"/>
            </video>
        </div>
        <main>
            <section id="aboutus-section">
                <h2>About us</h2>
                <section><h3>Our Company</h3></section>
                <p>PC2Hack has been established for over 10 years and continues to provide an excellent level of service and support to all our customers.</p>
                <hr>
                <section><h3>Our Commitment</h3></section>
                <p>At PC2Hack we believe in customer satisfaction and strive to succeed in this.<br>
                    When you deal with one of our technicians, you're dealing with a genuine computing enthusiast.
                    You will experierince the advantage of working with someone who understands that every person or
                    businesses
                    needs are unique and we can work with you to fix an issue or create a new solution.<br>
                    The truth is that we understand how important a reliable computer is in this modern world, and we
                    have
                    all
                    the tools required to provide just that.
                </p>
                <blockquote cite="https://en.wikiquote.org/wiki/Anonymous_(group)">
                    <i>We are Anonymous. We are Legion. We do not forgive. We do not forget. Expect us.</i>
                </blockquote>
            </section>
        </main>
        <%- include("../fragments/footer") %>
    </div>
</div>
</body>
</html>