<footer>
    <a href="#" title="go up" id="link-top">
        <div id="triangle"></div>
    </a>
    <address class="address">
        <br>
        <a href="mailto:contact@hack2pc.com">contact@hack2pc.com</a><br>
        <a href="tel:+40755723299">(0040)755 723 299</a><br>
        You can find us at:<br>
        Calea Bucuresti 99<br>
        Pitesti, Arges
    </address>

    <p>
        <small>
            Copyright &copy;2021 Balmau Dragos Constantin
            <time datetime="2021-10-10">10-10-2021</time>
        </small>
    </p>
</footer>