<header>
    <img id="logo" src="/resources/images/logo.png" alt="wallpaper">
    <nav>
        <label for="hamburger"><span class="fas fa-bars fa-3x"></span></label>
        <input type="checkbox" id="hamburger"/>
        <ul class="menu">
            <li>
                <span class="fas fa-solid fa-house"></span>
                <a href="/">Home</a>
                <ul>
                    <li><a href="#welcome">Welcome</a></li>
                    <li><a href="#promotions">Promotions</a></li>
                </ul>
            </li>
            <!-- TODO de scos-->
            <li>
                <span class="fas fa-sign-in-alt fa-spin"></span>
                <a href="login.html">Log In</a>
            </li>
            <li>
                <div><a href="laptop.html">Laptop</a></div>
                <ul>
                    <li><a href="laptop.html#ultrabook">Ultrabook</a></li>
                    <li><a href="laptop.html#notebook">Notebook/Laptop</a></li>
                    <li><a href="laptop.html#accesories">Laptop accessories</a></li>
                </ul>
            </li>
            <li>
                <div><a href="pc.html">PC</a></div>
                <ul>
                    <li><a href="pc.html#desktop">Desktop PC</a></li>
                    <li><a href="pc.html#all-in-one">All-in-one PC</a></li>
                    <li><a href="pc.html#mini">Mini PC</a></li>
                </ul>
            </li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="aboutus-section">About us</a></li>
        </ul>
    </nav>
</header>